/* You can add global styles to this file, and also import other style files */
input, textarea{
    margin: 10px 0px;
}

button{
    margin-right: 5px;
}

input:read-only{
    cursor: not-allowed;
    background-color:#E8E8E8;
}